/* COLORS
Background
0B0C10
Secondary Background
1F2833
Gray
C5C6C7
Primary
ffa900 ->#09eaf9
Secondary
45A298
*/

body{
     font-family: 'Montserrat' , sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight: 700;
    color:#09eaf9;
}

h3{
    font-size: 1.4rem;
}
/*
    Header 
*/
a{
    color:#09eaf9;
}

img{
    filter:grayscale(5%) brightness(0.9)
}

img.rounded-circle{
    filter:none;
    border:2px solid #09eaf9;
}
input {
    background-color: #1F2833 !important;
    color: #09eaf9 !important;
}

.navbar{
    background-color: #0B0C10;
    color:#09eaf9 !important;
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.5rem;
}

.btn-main{
    background-color: #09eaf9 !important;
    color: #0B0C10 !important;
}

/* bear SECTION */
.bear{
    background-color: #263342;


}
.bear-post{
    position: relative;
}
.bear-post-badges{
    position: absolute;
    top:10px;
    right: 20px;

}

.bear-post-badges>a{
    display: block;
    background-color: #0B0C10;
    color: #09eaf9;
    font-size: 0.8rem;
}

.bear-post-content{
    position: absolute;
    bottom:10;
    color:#09eaf9;
}

.bear-post-content{
    position: absolute;
    bottom:20px;
    color: #09eaf9;
}

.bear-post-content img{
    border:2px solid #09eaf9;
}

/* Main blog */
.blog-posts{
    background-color: #0b0b0b;
    color:#C5C6C7;
}

.blog-posts{
    background-color: #1F2833;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    padding-left: 1rem;
    transition: .5s ease;
    background-color: #1F2833;
  }



.blog-posts h3{
    font-size: 1.4rem;
}
.blog-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-post .overlay:hover{
    opacity: 1;
}
.blog-post p{
    font-size: 0.9rem;

}
.blog-post .col-sm-8{
    border-left: 3px solid #09eaf9;
}
.badge{
    margin-top: 1rem;

}
.badge>a{
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: #09eaf9;
    color:#0B0C10;
}

.badge>p{

    color: #09eaf9;

}

/* ASIDE */
.social-links {
    background-color: #09eaf9;
    color:#0B0C10;
    font-size: 1.5rem;;
}

.social-links > a{
    padding-top:2rem;
}
.primary-color{
    background-color: #0b0b0b;
    color:#09eaf9;
}
.secondary-color{
    background-color: #1F2833;
    color:#09eaf9;
}

.aside-heading{
    border-left: 3px solid #09eaf9;
}


.author p{
    font-size: 0.9rem;
}

.author-social-links a{
    margin-left: 0.8rem;
}

.badge {
    padding-top: 1rem;
    padding-bottom:1rem;
}


/* footer section*/
.footer{
    background-color: #1F2833;
    color: #C5C6C7;
}

.footer p{
    font-size: 0.9rem;
}

.footer a{
    color:#09eaf9;
}