.container{
    text-align: center;
    border-style: solid;
    border-color: red;
    height: 500px;
    border-width: 1px;
}
.bar {
    border-style: solid;
    border-width: 1px;
    margin: 5px 1px;
    width: 30px;
    background-color:#0ed0e9;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
