path{
  stroke-width: 12 !important;
}
#path301 {
  
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash301 5s linear forwards;
}

@keyframes dash301 {

  0% {
    stroke-dashoffset: 232;
  }

  5% {
    stroke-dashoffset: 0;
  }
}

#path303 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash303 5s linear forwards;
}

@keyframes dash303 {

  0%,
  5% {
    stroke-dashoffset: 232;
  }

  10% {
    stroke-dashoffset: 0;
  }
}

#path305 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash305 5s linear forwards;
}

@keyframes dash305 {

  0%,
  10% {
    stroke-dashoffset: 232;
  }

  15% {
    stroke-dashoffset: 0;
  }
}

#path307 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash307 5s linear forwards;
}

@keyframes dash307 {

  0%,
  15% {
    stroke-dashoffset: 232;
  }

  20% {
    stroke-dashoffset: 0;
  }
}

#path309 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash309 5s linear forwards;
}

@keyframes dash309 {

  0%,
  20% {
    stroke-dashoffset: 232;
  }

  25% {
    stroke-dashoffset: 0;
  }
}

#path311 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash311 5s linear forwards;
}

@keyframes dash311 {

  0%,
  25% {
    stroke-dashoffset: 232;
  }

  30% {
    stroke-dashoffset: 0;
  }
}

#path313 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash313 5s linear forwards;
}

@keyframes dash313 {

  0%,
  30% {
    stroke-dashoffset: 232;
  }

  35% {
    stroke-dashoffset: 0;
  }
}

#path315 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash315 5s linear forwards;
}

@keyframes dash315 {

  0%,
  35% {
    stroke-dashoffset: 232;
  }

  40% {
    stroke-dashoffset: 0;
  }
}

#path317 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash317 5s linear forwards;
}

@keyframes dash317 {

  0%,
  40% {
    stroke-dashoffset: 232;
  }

  45% {
    stroke-dashoffset: 0;
  }
}

#path319 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash319 5s linear forwards;
}

@keyframes dash319 {

  0%,
  45% {
    stroke-dashoffset: 232;
  }

  50% {
    stroke-dashoffset: 0;
  }
}

#path321 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash321 5s linear forwards;
}

@keyframes dash321 {

  0%,
  50% {
    stroke-dashoffset: 232;
  }

  55% {
    stroke-dashoffset: 0;
  }
}

#path323 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash323 5s linear forwards;
}

@keyframes dash323 {

  0%,
  55% {
    stroke-dashoffset: 232;
  }

  60% {
    stroke-dashoffset: 0;
  }
}

#path325 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash325 5s linear forwards;
}

@keyframes dash325 {

  0%,
  60% {
    stroke-dashoffset: 232;
  }

  65% {
    stroke-dashoffset: 0;
  }
}

#path327 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash327 5s linear forwards;
}

@keyframes dash327 {

  0%,
  65% {
    stroke-dashoffset: 232;
  }

  70% {
    stroke-dashoffset: 0;
  }
}

#path329 {
  stroke-width: 12;
  clip-path: url("#xiao");
  stroke-dasharray: 232;
  animation: dash329 5s linear forwards;
}

@keyframes dash329 {

  0%,
  70% {
    stroke-dashoffset: 232;
  }

  75% {
    stroke-dashoffset: 0;
  }
}
